<div class="staff-list">
  <h2>Staff List</h2>
  <table>
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Designation</th>
        <th>Phone Number</th>
        <th>Date of Birth</th>
        <th>Joining Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffList">
        <td>{{ staff.fullname }}</td>
        <td>{{ staff.email }}</td>
        <td>{{ staff.designation }}</td>
        <td>{{ staff.phonenumber }}</td>
        <td>{{ staff.dateofbirth }}</td>
        <td>{{ staff.joiningdate }}</td>
        <td>
            <button (click)="editStaff(staff)"><i class="material-icons">edit</i></button>
            <button (click)="deleteStaff(staff)"><i class="material-icons">delete</i></button>

            <!-- <button (click)="deleteStaff(staff)"><i class="fas fa-trash-alt"></i></button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
