<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="fullname">
    <mat-error *ngIf="registrationForm.get('fullname')?.hasError('required')">
      Full Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
    <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">
      Password is required
    </mat-error>
   
  </mat-form-field>

  <button type="submit">Register</button>
</form>